@(loggedUser: models.User, administrator: models.Administrator)

@main("PPdFPortal") {
	<div class="container">
    	<div class="breadcrumb">
    		<div class="row">
				<div class="col-md-2">Administrador (@loggedUser.name)</div>
				<div class="col-md-1 col-md-offset-9">
					<a href="@routes.Application.logout" class="btn btn-primary" role="button">
						Logout
					</a>
				</div>
    		</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 invisible">
				<form role="form" class="input-group" action="/search" method="get">
					<input type="text" class="form-control" name="catName" placeholder="Nome de catequisando a pesquisar" required>
					<div class="input-group-btn">
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search"></span>
						</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="@routes.Application.index">Mais opções de pesquisa</a></li>
						</ul>
					</div>
				</form>
			</div>
		</div><p>
		
		<div class="btn-toolbar">
			<div class="btn-group">
				<a href="@routes.Application.index" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-home"></span>
				</a>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading"><strong>Identificador do administrador: </strong>@administrator.userId</div>
			<div class="panel-body">
				<p><strong>Nome: </strong>@administrator.name</p><p>
				<p><strong>Morada: </strong>@administrator.address</p><p>
				<p><strong>Contacto: </strong>@administrator.contact</p><p>
				<p><strong>Email: </strong>@administrator.email</p><p>
			</div>
		</div>
    </div>

}