@(loggedUser: models.User)

@main("PPdFPortal") {
	<div class="container">
    	<div class="breadcrumb">
    		<div class="row">
				<div class="col-md-2">Administrador (@loggedUser.name)</div>
				<div class="col-md-1 col-md-offset-9">
					<a href="@routes.Application.logout" class="btn btn-primary" role="button">
						Logout
					</a>
				</div>
    		</div>
		</div>
		
		<div class="btn-toolbar">
			<div class="btn-group">
				<a href="@routes.Application.index" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-home"></span>
				</a>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">Mudar password</div>
			<div class="panel-body">
				<div>
					<p>Insira a password antiga e de seguida insira a nova password.</p>
					<form role="form" action="@routes.AdminApp.changePassword" method="post">
						<table>
							<tr><input type="password" class="form-control" name="oldPassword" placeholder="Password actual" required autofocus></tr>
							<tr><input type="password" class="form-control" name="newPassword" placeholder="Password nova" required></tr>
							<tr><input type="password" class="form-control" name="newPasswordConf" placeholder="Confirmar password nova" required></tr>
							<tr>
							@if(flash.contains("failedChangePassword")) {
			    				<p class="text-danger">
			        				* @flash.get("failedChangePassword")
			    				</p>
							} else {
								<p>&nbsp</p>
							}
							</tr>
							<tr>
								<td><button class="btn btn-danger" type="submit">Confirmar</button></td>
								<td><a href="@routes.Application.index" class="btn btn-success" role="button">Cancelar</a></td>
							</tr>
			    		</table>						
					</form>
				</div>
			</div>
		</div>
    </div>

}
