@(loggedUser: models.User)

@main("PPdFPortal") {
	<div class="container">
    	<div class="breadcrumb">
    		<div class="row">
				<div class="col-md-2">Administrador (@loggedUser.name)</div>
				<div class="col-md-1 col-md-offset-9">
					<a href="@routes.Application.logout" class="btn btn-primary" role="button">
						Logout
					</a>
				</div>
    		</div>
		</div>
		
		<div class="btn-group">
			<a href="@routes.Application.index" class="btn btn-default" role="button">
				<span class="glyphicon glyphicon-home"></span>
			</a>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading"><strong>Criar catequisando</div>
			<div class="panel-body">
				<form role="form" action="@routes.AdminApp.storeStudent" method="post">
					<p><strong>Nome: </strong><input type="text" class="form-control" name="name" required></p><p>
					<p><strong>Morada: </strong><input type="text" class="form-control" name="address" required></p><p>
					<p><strong>Contacto: </strong><input type="text" class="form-control" name="contact" required></p><p>
					<p><strong>Email: </strong><input type="email" class="form-control" name="email" required></p><p>
					<p><strong>Data de nascimento: </strong>
						Dia: <input type="number" min="1" max="31" class="form-control" name="birthDateDay" required>
						Mês: <input type="number" min="1" max="12" class="form-control" name="birthDateMonth" required>
						Ano: <input type="number" min="1900" class="form-control" name="birthDateYear" required></p><p>
					<p><strong>Nome do encarregado de educação: </strong><input type="text" class="form-control" name="guardianName" required></p><p>
					<p><strong>Contacto do encarregado de educação: </strong><input type="text" class="form-control" name="guardianContact" required></p><p>
					<p><strong>Batismo:</strong> Se não for batizado, deixe os campos em branco</p>
					<p><strong>Data: </strong>
						Dia: <input type="number" min="1" max="31" class="form-control" name="baptismDateDay">
						Mês: <input type="number" min="1" max="12" class="form-control" name="baptismDateMonth">
						Ano: <input type="number" min="1900" class="form-control" name="baptismDateYear"></p>
					<p><strong>Paróquia: </strong><input type="text" class="form-control" name="baptismParish"></p>
					<p><p><strong>Primeira Comunhão:</strong> Se ainda não fez a primeira comunhão, deixe os campos em branco</p>
					<p><strong>Data: </strong>
						Dia: <input type="number" min="1" max="31" class="form-control" name="firstCommunionDateDay">
						Mês: <input type="number" min="1" max="12" class="form-control" name="firstCommunionDateMonth">
						Ano: <input type="number" min="1900" class="form-control" name="firstCommunionDateYear"></p>
					<p><strong>Paróquia: </strong><input type="text" class="form-control" name="firstCommunionParish"></p>
					<p><p><strong>Último volume concluído (se ainda não concluio nenhum volume, coloque 0): </strong><input type="number" min="0" max="10" class="form-control" name="volumeDegree" required></p><p>
					<button class="btn btn-primary" type="submit">Submeter</button>
				</form>
			</div>
		</div>
    </div>

}