@(loggedUser: models.User, currentYear: Year, volumes: List[models.Volume])

@main("PPdFPortal") {
	<div class="container">
    	<div class="breadcrumb">
    		<div class="row">
				<div class="col-md-2">Administrador (@loggedUser.name)</div>
				<div class="col-md-1 col-md-offset-9">
					<a href="@routes.Application.logout" class="btn btn-primary" role="button">
						Logout
					</a>
				</div>
    		</div>
		</div>
		
		<div class="btn-toolbar">
			<div class="btn-group">
				<a href="@routes.Application.index" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-home"></span>
				</a>
				<a href="@routes.AdminApp.createStudent" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-user"></span>&nbspCriar catequisando
				</a>
				<a href="@routes.AdminApp.showNotEnrolled" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-th-list"></span>&nbspMostrar catequisandos não inscritos
				</a>
			</div>
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Opções <span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="@routes.AdminApp.changeYear" class="btn btn-default" role="button">Mudar de ano lectivo</a></li>
				</ul>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">Volumes do ano lectivo @currentYear.id</div>
			<div class="panel-body">
				<div class="btn-group-vertical col-md-12">
					@for(i <- 0 to volumes.size - 1) {
						<form role="form" action="@routes.AdminApp.showVolume(volumes.get(i).id)" method="get">
							<button class="btn btn-default btn-block" name="volume" type="submit" value="@volumes.get(i).id">Volume @volumes.get(i).degree</button>						
						</form>
					}
				</div>
			</div>
		</div>
    </div>

}
