@(loggedUser: models.User, currentYear: Year, students: List[models.Student])

@main("PPdFPortal") {
	<div class="container">
    	<div class="breadcrumb">
    		<div class="row">
				<div class="col-md-2">Administrador (@loggedUser.name)</div>
				<div class="col-md-1 col-md-offset-9"><a href="@routes.Application.logout"><button type="button" class="btn btn-primary">Logout</button></a></div>
    		</div>
		</div>
		
		<div class="btn-group">
			<a href="@routes.Application.index"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span></button></a>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">Catequisandos não inscritos no ano lectivo @currentYear.id</div>
			<div class="panel-body">
				<div class="btn-group-vertical col-md-12">
					@for(i <- 0 to students.size - 1) {
						<form role="form" action="@routes.AdminApp.showStudent(students.get(i).userId)" method="get">
							<button class="btn btn-default btn-block" name="student" type="submit" value="@students.get(i).userId"><strong>Identificador: </strong>@students.get(i).userId <strong>Nome: </strong>@students.get(i).name</button>						
						</form>
					}
				</div>
			</div>
		</div>
    </div>

}