@(loggedUser: models.User, student: models.Student, volumes: List[models.Volume])

@main("PPdFPortal") {
	<div class="container">
    	<div class="breadcrumb">
    		<div class="row">
				<div class="col-md-2">Administrador (@loggedUser.name)</div>
				<div class="col-md-1 col-md-offset-9">
					<a href="@routes.Application.logout" class="btn btn-primary" role="button">
						Logout
					</a>
				</div>
    		</div>
		</div>
		
		<div class="btn-toolbar">
			<div class="btn-group">
				<a href="@routes.Application.index" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-home"></span>
				</a>
				<a href="@routes.AdminApp.editStudent(student.userId)" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-edit"></span>&nbspEditar
				</a>
				@if(student.isActive) {
					@if(student.currentVolume != null) {
						<a href="@routes.AdminApp.unenroll(student.userId)" class="btn btn-danger" role="button">
							Desinscrever
						</a>
					} else {
						<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Inscrever <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
					 		@for(i <- 0 to volumes.size - 1) {
								<li><a href="@routes.AdminApp.enroll(student.userId, volumes.get(i).id)">Volume @volumes.get(i).degree</a></li>
							}
						</ul>
					}
				}
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading"><strong>Identificador do catequisando: </strong>@student.userId</div>
			<div class="panel-body">
				<p><strong>Nome: </strong>@student.name</p><p>
				<p><strong>Morada: </strong>@student.address</p><p>
				<p><strong>Contacto: </strong>@student.contact</p><p>
				<p><strong>Email: </strong>@student.email</p><p>
				<p><strong>Data de nascimento: </strong>@util.Date.makeStringtoDisplay(student.birthDate)</p><p>
				<p><strong>Nome do encarregado de educação: </strong>@student.guardianName</p><p>
				<p><strong>Contacto do encarregado de educação: </strong>@student.guardianContact</p><p>
				<p><strong>Batismo:</strong></p>
				@if(student.baptismDate) {
					<p><strong>Data: </strong>@util.Date.makeStringtoDisplay(student.baptismDate)</p>
					<p><strong>Paróquia: </strong>@student.baptismParish</p>
				} else {
					<p>Ainda não fez</p>
				}
				<p><p><strong>Primeira Comunhão:</strong></p>
				@if(student.firstCommunionDate) {
					<p><strong>Data: </strong>@util.Date.makeStringtoDisplay(student.firstCommunionDate)</p>
					<p><strong>Paróquia: </strong>@student.firstCommunionParish</p>
				} else {
					<p>Ainda não fez</p>
				}
				<p><p><strong>Último volume concluído: </strong>@student.volumeDegree</p><p>
				<p><strong>Inscrição no atual ano lectivo: </strong>
					@if(student.currentVolume != null) {
						Volume @student.currentVolume.degree</p><p>
					} else {
						Não inscrito</p><p>
					}
			</div>
		</div>
    </div>

}